* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(163,195,193);
    background: -moz-linear-gradient(135deg, rgba(163,195,193,1) 4%, rgba(122,137,138,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(163,195,193,1) 4%, rgba(122,137,138,1) 100%);
    background: linear-gradient(135deg, rgba(163,195,193,1) 4%, rgba(122,137,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3c3c1",endColorstr="#7a898a",GradientType=1);
}