<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header'); %>

    <main class="jumbotron">
        <div class="row d-flex align-items-center" style="height: 500px;">
            <div class="col-12 col-lg-6">
                <h1 class="py-3">Nome do meu projeto</h1>
                <p class="pb-3">
                    Descrição do meu projeto dever ser escrita aqui. 
                    Nessa página ela pode ser maior, mas não precisa ser um textão gigante, não é mesmo?
                </p>
                <a href="https://api.whatsapp.com/send/?phone=5565999103791&text=Ol%C3%A1!%20Estou%20interessado(a)%20em%20agendar%20um%20encontro!" target="_blank" class="btn btn-secondary shadow px-5" rel="noopener noreferrer">Entrar em contato</a>
            </div>
            <div class="col-12 col-lg-6">
              <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" class="rounded float-end img-fluid shadow" alt="...">
            </div>
        </div>
        <div class="d-block">
            <div class="my-5">
              <div class="p-5 text-center bg-body-tertiary col-12 rounded shadow">
                <div class="container py-5">
                  <h1 class="text-body-emphasis">Um texto legal sobre o projeto</h1>
                  <p class="col-lg-8 mx-auto lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quia nihil. Temporibus repellat ex obcaecati voluptate consequatur voluptatum pariatur et sint culpa, fuga id, unde debitis illum inventore animi odit.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>